{% extends 'base.html' %}

<head>
  <title>{% block title %} {{ block.super }} | Log In{% endblock %}</title>
</head>

<body>
  {% block content_page %}
  <div class="content-page-block center">
    <div id="content-page-block_log-in" class="dialog">
      <h1>Log In</h1>
      <form id="log-in_form" class="form" method="post">
        {% csrf_token %}
        <div class="form-field medium-short-field">
          <label for="{{ form.username.id_for_label }}">Username</label>
          {{ form.username }}
        </div>
        <div class="form-field medium-short-field">
          <label for="{{ form.password.id_for_label }}">Password</label>
          {{ form.password }}
          <p id="password-reset-p"><a href="{% url 'password_reset' %}">Forgot password?</a></p>
        </div>
        <div class="form-field medium-short-field">
          <input type="submit" class="button" value="Log In">
        </div>
      </form>
    </div>
  </div>
  {% endblock %}
</body>
