asgiref==3.5.2
certifi>=2024.7.4
charset-normalizer==2.1.0
Django>=4.2.26
django-crum==0.7.9
django-extensions==3.1.5
django-prometheus
django-redis==5.4.0
redis==5.0.1
django-tinymce==3.4.0
docopt==0.6.2
gunicorn==22.0.0
idna==3.3
Pillow==12.2.0
pipreqs==0.4.12
psycopg2-binary==2.9.10
requests==2.32.4
sqlparse>=0.5.4
timeago==1.0.15
tokenize-rt==4.2.1
tzdata==2022.1
urllib3==2.7.0
yarg==0.1.9
